.wrapper{ 
  height: 100%;
  max-height: 470px;
  min-height: 141px;
  width:200px;
  overflow: hidden;
}
.wrapper::after {
  height: 100%;
  max-height: 468px;
  min-height: 280px;
  content:"";
  position:absolute;
}
.boxes {
  top:0px;
  height: 450px;
  position: relative;
}
.box{
  height:10px;
  width:200px;
  font-size:50px;
  /* line-height:94px; */
  text-align:center;
}
